.wrap {
  border: 5px #ddd solid;
  background: #fff;
  padding: 2rem;
}
body{
	background-color: skyblue;
}
#authorlist li {
clear: left;
float: left;
margin: 0 0 5px 0;
}
 
#authorlist img.photo {
width: 40px;
height: 40px;
float: left;
}
 
#authorlist div.authname {
margin: 20px 0 0 10px;
float: left;
}